body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

audio {
    position: absolute;
    top:  20px;
    left: 20px;
}

.el {
  position: absolute;
  background-color:red;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:5s;
}

.song {
    position: absolute;
    top: 90px;
    left: 20px;
}

.game-field {
  position: absolute;
  overflow: hidden;
  top: 150px;
	width: 500px;
	height: 500px;


}


@-webkit-keyframes orbit {
  from { -webkit-transform:rotate(0deg) }
  to { -webkit-transform:rotate(360deg) }
}

@-webkit-keyframes resize {
  from { -webkit-transform:rotate(0deg) }
  to { -webkit-transform:rotate(360deg) }
}
