body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

audio {
    position: absolute;
    top:  20px;
    left: 20px;
}

.el {
  position: absolute;
  top:  150px;
  left: 20px;
  background-color:red;
}

.song {
    position: absolute;
    top: 90px;
    left: 20px;
}

.game-field {
  position: absolute;
	width: 500px;
	height: 500px;
  border: solid 1px;
}
